{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}
    <div data-controller="calendar" class="py-3">
        <div data-calendar-target="calendar"></div>
    </div>
{% endblock %}
