{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}
    <twig:filter_form/>

    <div data-controller="calendar" class="py-3" data-calendar-api-value="{{ api_endpoint }}">
        <div data-calendar-target="calendar"></div>
    </div>
{% endblock %}
