<div class="progress-stacked" style="height: .5rem;">
    {% for bar in bars %}
        <div class="progress" role="progressbar" aria-label="{{ bar.label }}" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: {{ bar.width }}%">
            <div class="progress-bar {{ bar.class }}"></div>
        </div>
    {% endfor %}
</div>

