{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <twig:filter_form/>
    <div class="row">

        <div class="col-lg-8">
            <h3>Projects</h3>
            <div style="height: 60vh;">
                {{ render_chart(projects) }}
            </div>
        </div>
        <div class="col-lg-4">
            <h3>Organizations</h3>
            <div style="height: 60vh;">
                {{ render_chart(organizations) }}
            </div>
        </div>
    </div>
{% endblock %}
